<div id="isotype_comparision_plot">
  <!--
  <div ng-show="!ctrl.resampled" class="alert alert-info inline-block" role="alert">
    You are currently viewing all of the data
  </div>
  <div ng-show="ctrl.resampled" class="alert alert-warning inline-block" role="alert">
    You are currently viewing a random selection of 100 people from the data
  </div>
  -->
  <div ng-repeat="isotypeDataChunk in ctrl.chunkedIsotypeData track by $index" class="row">
    <div ng-repeat="isoData in isotypeDataChunk track by isoData.key" class="col-md-6">
      <h4>{{isoData.name}}</h4>
      <div sd-icon-array sa-num-per-row="50" sa-data="isoData.iconArrayData"></div>
    </div>
  </div>
</div>