<div class="space-all">
  <div class="space-bottom">
    <div class="space-bottom">
      <h4>Stroke Risk</h4>
      <p>
        If we randomly picked <strong>100</strong> atrial fibrilation patients like you, this is what <strong>might</strong> happen to them.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h5>No therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data1"></div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h5>Warfarin therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data2"></div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="ctrl.resampleStrokeRiskData()">Show another 100 people</button>
    </div>
  </div>
  <div class="space-bottom">
    <div class="space-bottom">
      <h4>Bleeding Risk</h4>
      <p>
        If we randomly picked <strong>100</strong> atrial fibrilation patients like you, this is what <strong>might</strong> happen to them.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h5>No therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data3"></div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h5>Warfarin therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data4"></div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="ctrl.resampleMajorBleedData()">Show another 100 people</button>
    </div>
  </div>
</div>