<div ng-if="!ctrl.selectedDefaults">
  <div class="attributes-wrapper">
    <h4 class="space-bottom">
      Some attributes of your treatment may be more important than others. Please select those that are important to you from the list below. You must choose at least 2 attributes to proceed to the visualization.
    </h4>
    <div ng-repeat="attr in ctrl.attributes">
      <div class="attribute-selection-box">
        <div>
          <h5 class="inline-block"><i ng-click="ctrl.selectAttribute(attr)" class="fa fa-2x fa-circle-o clickable fa-fw align-middle" ng-class="{'fa-check-circle-o text-success': attr.selected, 'fa-circle-o': !attr.selected}"></i> {{attr.name}}</h5>
          <p>
            {{attr.description}}
          </p>
        </div>
      </div>
    </div>
    <div class="clearfix space-bottom">
      <button class="btn btn-primary" ng-disabled="ctrl.selectedAttributes.length < 2" ng-click="ctrl.continueToVis()">Continue</button>
    </div>
  </div>
</div>
<div class="row" ng-if="ctrl.selectedDefaults">
  <div class="col-md-3">
    <div ng-include="'/views/toolbox.html'"></div>
    <div class="clearfix">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info inline-block">
            <span ng-show="ctrl.resampled && !(ctrl.showWorstCase || ctrl.showBestCase)">
              You are currently visualizing a <strong>random selection of 100 people</strong> from the underlying distribution.
            </span>
            <span ng-show="ctrl.resampled && ctrl.showBestCase">
              You are currently visualizing the <strong>best</strong> case scenario given a <strong>random selection of 100 people</strong> from the underlying distribution.
            </span>
            <span ng-show="ctrl.resampled && ctrl.showWorstCase">
              You are currently visualizing the <strong>worst</strong> case scenario given a <strong>random selection of 100 people</strong> from the underlying distribution.
            </span>
            <span ng-show="!ctrl.resampled && ctrl.showBestCase">
              You are currently visualizing the <strong>best</strong> case scenario given the entire sample.
            </span>
            <span ng-show="!ctrl.resampled && ctrl.showWorstCase">
              You are currently visualizing the <strong>worst</strong> case scenario given the entire sample.
            </span>
            <span ng-show="!ctrl.resampled && !(ctrl.showWorstCase || ctrl.showBestCase)">
              You are currently visualizing the <strong>the entire sample</strong>.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div ng-controller="IsotypeCtrl" ng-include="'/views/isotype_comparison.html'"></div>
    <div class="row">
      <div class="col-md-6">
        <div ng-controller="ViolinCtrl" ng-include="'/views/violin_comparison.html'"></div>
      </div>
      <div class="col-md-6">
        <div ng-controller="GradientCtrl" ng-include="'/views/gradient_comparison.html'"></div>
      </div>
    </div>
  </div>
    <!--
    <div ng-switch="ctrl.currentView">
      <div ng-switch-when="Isotype">
        <div ng-controller="IsotypeCtrl" ng-include="'/views/isotype_comparison.html'"></div>
      </div>
      <div ng-switch-when="Violin">
        <div ng-controller="ViolinCtrl" ng-include="'/views/violin_comparison.html'"></div>
      </div>
      <div ng-switch-when="Gradient">
        <div ng-controller="GradientCtrl" ng-include="'/views/gradient_comparison.html'"></div>
      </div>
    </div>
    -->
</div>


<!--
<div class="space-all">
  <div class="space-bottom">
    <div class="space-bottom">
      <h4>Stroke Risk</h4>
      <p>
        If we randomly picked <strong>100</strong> atrial fibrilation patients like you, this is what <strong>might</strong> happen to them.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h5>No therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data1"></div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h5>Warfarin therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data2"></div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="ctrl.resampleStrokeRiskData()">Show another 100 people</button>
    </div>
  </div>
  <div class="space-bottom">
    <div class="space-bottom">
      <h4>Bleeding Risk</h4>
      <p>
        If we randomly picked <strong>100</strong> atrial fibrilation patients like you, this is what <strong>might</strong> happen to them.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h5>No therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data3"></div>
      </div>
      <div class="col-md-6">
        <div class="text-center">
          <h5>Warfarin therapy</h5>
        </div>
        <div sd-icon-array="" sa-chartid="test-01487972-da5e-44d7-b454-8b80484a1cbe" sa-num-per-row="50" sa-data="ctrl.data4"></div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="ctrl.resampleMajorBleedData()">Show another 100 people</button>
    </div>
  </div>
</div>
-->