<div id="toolbox">
  <div class="well">
    <div class="space-all">
      <div class="space-bottom">
        <h4>Tool Box</h4>
      </div>
      <div class="form-group">
        <div>
          <label>Degree of Uncertainty</label>
        </div>
        <div class="radio-inline" style="margin-top: 0;">
          <label><input type="radio" ng-model="ctrl.uncertaintyDegree" name="uncertaintyradio" value="1" />95%</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" ng-model="ctrl.uncertaintyDegree" name="uncertaintyradio" value="2"/>99%</label>
        </div>
      </div>
      <div class="form-group">
        <div>
          <label>Point Estimate</label>
        </div>
        <div class="radio-inline" style="margin-top: 0;">
          <label><input type="radio" name="peradio" ng-model="ctrl.pointEstimate" value="mean" />Mean</label>
        </div>
        <div class="radio-inline">
          <label><input type="radio" name="peradio" ng-model="ctrl.pointEstimate" value="median" />Median</label>
        </div>
      </div>
      <div>
        <label>Attributes to compare</label>
        <div ng-repeat="attr in ctrl.attributes">
          <div class="checkbox">
            <label><input type="checkbox" name="selectedAttrs[]" value="{{attr.key}}" ng-model="attr.selected" />{{attr.name}}</label>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div>
          <div class="space-bottom">
            <button class="btn btn-default full-width" ng-show="!ctrl.resampled" ng-click="ctrl.randomlySample()">Show 100 random people</button>
            <button class="btn btn-default full-width" ng-show="ctrl.resampled" ng-click="ctrl.randomlySample()">Show another 100 people</button>
          </div>
          <button class="btn btn-default space-bottom full-width" ng-click="ctrl.bestCaseFromCurrentDataSet()"><i class="fa fa-fw fa-lg fa-smile-o text-success"></i> {{ctrl.showBestCase ? "Hide" : "Show"}} Best Case Scenario</button>
          <button class="btn btn-default space-bottom full-width" ng-click="ctrl.worstCaseFromCurrentDataSet()"><i class="fa fa-fw fa-lg fa-frown-o text-danger"></i> {{ctrl.showWorstCase ? "Hide" : "Show"}} Worst Case Scenario</button>
          <button class="btn btn-default space-bottom full-width" ng-click="ctrl.resetAll()"><i class="fa fa-fw fa-lg fa-refresh text-info"></i> Reset distributions</button>
        </div>
      </div>
    </div>
  </div>
</div>